<!DOCTYPE html>
<head>
    <title>Home</title>
</head>
<body>
    <h3>Welcome to Authentication App !</h3>

    {% for message in messages %}
    <div class = "alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message : {{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% if user.is_authenicated %}
    <h3>Hello {{fname}}</h3>
    <h4>Login Successfukl !</h4>
    <a href="/signout/"><button type="submit">SignOut</button></a>
    {% else %}    
    <a href="/signin/"><button type="submit">SignIn</button></a> 
    <a href="/signup/"><button type="submit">SignUp</button></a>
    {% endif %}
    
</body>